apiVersion: 1

datasources:
  # 1. Prometheus
  - name: Prometheus
    type: prometheus
    uid: Prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    jsonData:
      timeInterval: 15s

  # 2. Loki
  - name: Loki
    type: loki
    uid: Loki
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000

  # 3. Tempo (Trace)
  - name: Tempo
    type: tempo
    uid: Tempo
    access: proxy
    url: http://tempo:3200
    basicAuth: false
    isDefault: true
    jsonData:
      # Trace에서 Log로 바로 가기 위한 설정
      tracesToLogsV2:
        datasourceUid: "Loki"
        spanStartTimeShift: "30m" # Span 시작 시간 기준 전후 30분 검색
        simpleTimeRange: true
        tags: ["job", "instance", "container_name"] # 매칭할 태그
        filterByTraceID: true # 로그에 traceID가 있다면 정확히 매칭
        filterBySpanID: true
      # Service Graph (노드 간 연결 관계 시각화)
      serviceMap:
        datasourceUid: "Prometheus"
      nodeGraph:
        enabled: true
      search:
        hide: false
      lokiSearch:
        datasourceUid: "Loki"
  - name: Alertmanager
    type: alertmanager
    uid: alertmanager
    access: proxy
    # Docker Network 내부 통신이므로 서비스명(alertmanager) 사용
    url: http://alertmanager:9093
    jsonData:
      implementation: prometheus # Prometheus와 함께 사용하는 표준 Alertmanager
      handleGrafanaManagedAlerts: false # 외부(Prometheus) 알람만 처리할 경우 false
