x-default-logging: &logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'
 
services:
  default-reactjs:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    image: javascript.reactjs:latest
    hostname: reactjs
    container_name: reactjs
    restart: unless-stopped
    working_dir: /app
    expose:
      - ${DEFAULT_REACTJS_PORT}
      - ${DEFAULT_VITE_PORT}
    ports:
      - ${DEFAULT_REACTJS_HOST_PORT}:${DEFAULT_REACTJS_PORT}
      - ${DEFAULT_VITE_HOST_PORT}:${DEFAULT_VITE_PORT}
    networks:
      - project_net
      - infra_net
    stdin_open: true #docker run -i
    tty: true #docker run -t
    volumes:
      - reactjs-volume:/app:rw      
    logging: *logging
