

services:
  wiki:
    image: ghcr.io/requarks/wiki:latest
    restart: unless-stopped
    container_name: wiki
    hostname: wiki
    env_file:
      - .env
    expose:
      - ${WIKI_JS_PORT}
    networks:
      - infra_net
    logging: *logging
    volumes:
      - wiki-content-volume:/wiki/data/content
      - wiki-uploads-volume:/wiki/data/uploads
      - wiki-storage-volume:/storage
  # ######################################################################################

volumes:
  wiki-content-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WIKI_DIR}/wikijs/content
  wiki-storage-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WIKI_DIR}/wikijs/storage
  wiki-uploads-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WIKI_DIR}/wikijs/uploads
  # ######################################################################################
