# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  mariadb-master:
    image: docker.io/bitnami/mariadb:latest
    container_name: mariadb-master
    hostname: mariadb-master
    restart: unless-stopped
    ports:
      - ${MARIADB_HOST_MASTER_PORT}:${MARIADB_PORT}
    expose:
      - ${MARIADB_PORT}
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      # - MARIADB_BIND_ADDRESS=0.0.0.0
      - MARIADB_PORT_NUMBER=3307
      # - MARIADB_REPLICATION_MODE=master
      # - MARIADB_REPLICATION_USER=${RDBMS_REPLICA_USERNAME}
      # - MARIADB_REPLICATION_PASSWORD=${RDBMS_REPLICA_PASSWORD}
      - MARIADB_DATABASE=local_hyden
      - MARIADB_USER=${DEFAULT_USERNAME}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${RDBMS_ROOT_PASSWORD}
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_general_ci
    # 볼륨 설정
    volumes:
      - mariadb-master-volume:/bitnami/mariadb
    healthcheck:
      test: ["CMD", "/opt/bitnami/scripts/mariadb/healthcheck.sh"]
      interval: 15s
      timeout: 5s
      retries: 6
    networks:
      - nt-databases
      - nt-observability
      - nt-webserver
    logging: *logging
  # mariadb-slave:
  #   image: docker.io/bitnami/mariadb:latest
  #   container_name: mariadb-slave
  #   hostname: mariadb-slave
  #   restart: unless-stopped
  #   ports:
  #     - ${MARIADB_HOST_SLAVE_PORT}:${MARIADB_PORT}
  #   expose:
  #     - ${MARIADB_PORT}
  #   depends_on:
  #     - mariadb-master
  #   volumes:
  #     - mariadb-slave-volume:/bitnami/mariadb
  #   environment:
  #     - TZ=${DEFAULT_TIMEZONE}
  #     - MARIADB_PORT_NUMBER=3307
  #     - MARIADB_REPLICATION_MODE=slave
  #     - MARIADB_REPLICATION_USER=${RDBMS_REPLICA_USERNAME}
  #     - MARIADB_REPLICATION_PASSWORD=${RDBMS_REPLICA_PASSWORD}
  #     - MARIADB_DATABASE=local_hyden
  #     - MARIADB_USER=${DEFAULT_USERNAME}
  #     - MARIADB_PASSWORD=${MARIADB_PASSWORD}
  #     - MARIADB_MASTER_HOST=mariadb-master
  #     - MARIADB_MASTER_PORT_NUMBER=3307
  #     - MARIADB_MASTER_ROOT_PASSWORD=${RDBMS_ROOT_PASSWORD}
  #     - MARIADB_CHARACTER_SET=utf8mb4
  #     - MARIADB_COLLATE=utf8mb4_general_ci
  #   healthcheck:
  #     test: ["CMD", "/opt/bitnami/scripts/mariadb/healthcheck.sh"]
  #     interval: 15s
  #     timeout: 5s
  #     retries: 6
  #   networks:
  #     - nt-databases
  # ######################################################################################
  # mariadb:
  #   image: mariadb:latest
  #   container_name: mariadb
  #   hostname: mariadb
  #   restart: unless-stopped
  #   ports:
  #     - ${MARIADB_HOST_PORT}:${MARIADB_PORT}
  #   environment:
  #     # MARIADB_USER: hyden
  #     # MARIADB_PASSWORD: NbpqVlRL0ugfoD9
  #     MARIADB_ROOT_PASSWORD: ${RDBMS_ROOT_PASSWORD}
  #   command:
  #     - --character-set-server=utf8mb4
  #     - --collation-server=utf8mb4_unicode_ci
  #   # 볼륨 설정
  #   volumes:
  #     - mariadb-data-volume:/var/lib/mysql:rw
  #     - mariadb-conf-volume:/etc/mysql:rw
  #   healthcheck:
  #     test: ['CMD', 'healthcheck.sh', --su=root', --connect', '--innodb_initialized']
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5
  #     start_period: 30s
  #   networks:
  #     - nt-databases
  #   logging: *logging

volumes:
  mariadb-master-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATABASE_DIR}/mariadb/master
  # ######################################################################################
  # mariadb-slave-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_DATABASE_DIR}/mariadb/slave
  # mariadb-data-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_DATABASE_DIR}/mariadb/node1/data
  # mariadb-conf-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_DATABASE_DIR}/mariadb/node1/conf

