# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  memcached-exporter:
    image: quay.io/prometheus/memcached-exporter:latest
    container_name: memcached-exporter
    hostname: memcached-exporter
    restart: unless-stopped
    command: ["--memcached.address='memcached:${MEMCACHED_EXPORTER_PORT}'"]
    expose:
      - ${MEMCACHED_EXPORTER_PORT}
    environment:
      - TZ=${DEFAULT_TIMEZONE}
    networks:
      - nt-databases
      - nt-observability
    logging: *logging

  memcached:
    image: docker.io/bitnami/memcached:latest
    container_name: memcached
    hostname: memcached
    restart: unless-stopped
    ports:
      - "${MEMCACHED_HOST_PORT}:${MEMCACHED_PORT}"
    expose:
      - ${MEMCACHED_PORT}
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - MEMCACHED_LISTEN_ADDRESS=0.0.0.0
      - MEMCACHED_THREADS=4
      - MEMCACHED_MAX_ITEM_SIZE=8388608
      - MEMCACHED_USERNAME=${DEFAULT_USERNAME}
      - MEMCACHED_PASSWORD=${MEMCACHED_PASSWORD}
      - MEMCACHED_MAX_CONNECTIONS=2000
    networks:
      - nt-databases
      - nt-webserver
    logging: *logging
    volumes:
      - memcached-data-volume:/bitnami/memcached
  # ######################################################################################

volumes:
  memcached-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATABASE_DIR}/memcached
  # ######################################################################################
