# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  couchdb-exporter:
    image: gesellix/couchdb-prometheus-exporter:latest
    container_name: couchdb-exporter
    hostname: couchdb-exporter
    restart: unless-stopped
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - COUCHDB_USER=${DEFAULT_USERNAME}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD}
      - COUCHDB_NODENAME=couchdb-node1
    # ports:
    #   - ${COUCHDB_EXPORTER_HOST_PORT}:${COUCHDB_EXPORTER_PORT}
    expose:
      - ${COUCHDB_EXPORTER_PORT}
    networks:
      - nt-observability
      - nt-databases
      - nt-webserver
    logging: *logging
    command:
      - "--couchdb.uri=http://couchdb-node1:${COUCHDB_PORT}"
      - "--logtostderr"

  couchdb-node1:
    image: bitnami/couchdb:latest
    container_name: couchdb-node1
    hostname: couchdb-node1
    restart: unless-stopped
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - COUCHDB_USER=${DEFAULT_USERNAME}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD}
      - COUCHDB_NODENAME=couchdb-node1
    # ports:
    #   - ${COUCHDB_HOST_NODE1_PORT}:${COUCHDB_PORT}
    expose:
      - ${COUCHDB_PORT}
    networks:
      - nt-databases
    logging: *logging
    volumes:
      - couchdb-node1-volume:/bitnami/couchdb
volumes:
  couchdb-node1-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATABASE_DIR}/couchdb/node1
