# --- PostgreSQL (Write) ---
apiVersion: v1
kind: Service
metadata:
  name: postgres-write
  namespace: default
spec:
  ports:
    - port: 5432
      targetPort: 5000
  clusterIP: None
---
apiVersion: v1
kind: Endpoints
metadata:
  name: postgres-write
  namespace: default
subsets:
  - addresses:
      - ip: 172.19.0.20 # pg-router
    ports:
      - port: 5000

# --- PostgreSQL (Read) ---
apiVersion: v1
kind: Service
metadata:
  name: postgres-read
  namespace: default
spec:
  ports:
    - port: 5432
      targetPort: 5001
  clusterIP: None
---
apiVersion: v1
kind: Endpoints
metadata:
  name: postgres-read
  namespace: default
subsets:
  - addresses:
      - ip: 172.19.0.20
    ports:
      - port: 5001

# --- Redis ---
apiVersion: v1
kind: Service
metadata:
  name: redis-cluster
  namespace: default
spec:
  ports:
    - port: 6379
      targetPort: 6379
  clusterIP: None
---
apiVersion: v1
kind: Endpoints
metadata:
  name: redis-cluster
  namespace: default
subsets:
  - addresses:
      - ip: 172.19.0.30 # redis-node-0
    ports:
      - port: 6379

# --- Kafka ---
apiVersion: v1
kind: Service
metadata:
  name: kafka-cluster
  namespace: default
spec:
  ports:
    - port: 9092
      targetPort: 9092
  clusterIP: None
---
apiVersion: v1
kind: Endpoints
metadata:
  name: kafka-cluster
  namespace: default
subsets:
  - addresses:
      - ip: 172.19.0.11 # kafka-1
    ports:
      - port: 9092

# --- OpenSearch ---
apiVersion: v1
kind: Service
metadata:
  name: opensearch
  namespace: default
spec:
  ports:
    - port: 9200
      targetPort: 9200
  clusterIP: None
---
apiVersion: v1
kind: Endpoints
metadata:
  name: opensearch
  namespace: default
subsets:
  - addresses:
      - ip: 172.19.0.40 # opensearch-node1
    ports:
      - port: 9200