# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  dispatch-core:
    image: dispatch-local
    container_name: dispatch-core
    hostname: dispatch-core
    restart: unless-stopped
    env_file:
      - .env.dispatch
    networks:
      - nt-incident
      - nt-databases
    build:
      # Pro-tip: point this to a relative directory containing the Dispatch
      # project root to pick up changes from your dev environment
      # (e.g., ../dispatch-root)
      context: https://github.com/Netflix/dispatch.git#latest
    environment:
      - TZ=${DEFAULT_TIMEZONE}
  dispatch-web:
    image: dispatch-local
    container_name: dispatch-web
    hostname: dispatch-web
    restart: unless-stopped
    depends_on:
      - dispatch-core
    env_file:
      - .env.dispatch
    ports:
      - ${DISPATCH_HOST_PORT}:${DISPATCH_PORT}
    expose:
      - ${DISPATCH_PORT}
    networks:
      - nt-incident
      - nt-webserver
      - nt-databases
    command: ["server", "start", "dispatch.main:app", "--host=0.0.0.0"]
    environment:
      - TZ=${DEFAULT_TIMEZONE}
  dispatch-scheduler:
    image: dispatch-local
    container_name: dispatch-scheduler
    hostname: dispatch-scheduler
    restart: unless-stopped
    depends_on:
      - dispatch-core
    env_file:
      - .env.dispatch
    networks:
      - nt-incident
      - nt-databases
    # volumes:
    #   - dispatch-static-volume:/data:rw
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      # - STATIC_DIR=/data
    command: ["scheduler", "start"]
# volumes:
#   dispatch-static-volume:
#     driver: local
#     driver_opts:
#       o: bind
#       type: none
#       device: ${DEFAULT_INCIDENT_MANAGEMENT_DIR}/dispatch/static
