services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    restart: unless-stopped
    hostname: influxdb
    environment:
      - INFLUXDB_DB=${INFLUXDB_DB_NAME}
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_API_TOKEN}
    ports:
      - ${INFLUXDB_HOST_PORT}:${INFLUXDB_PORT}    
    volumes:      
      - influxdb-data:/var/lib/influxdb2:rw
    networks:
      - infra_net
    logging: 
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"

