# Use root/example as user/password credentials
version: '3.9'

x-default-logging: &logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'

services:
  envoy:
    image: envoyproxy/envoy:v1.30-latest
    container_name: envoy
    hostname: envoy
    restart: unless-stopped
    ports:
      - '${ENVOY_SOCKET_HOST_PORT}:${ENVOY_SOCKET_PORT}'
      - '${ENVOY_ADMIN_HOST_PORT}:${ENVOY_ADMIN_PORT}'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - envoy-conf-volume:/etc/envoy:rw
      - envoy-certs-volume:/certs:rw
      - envoy-log-volume:/var/log/envoy:rw
    networks:
      - nt-default
      - nt-qa
      - nt-databases
      - nt-message-broker
    environment:
      - TZ=${DEFAULT_TIMEZONE}
    logging: *logging

volumes:
  envoy-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/envoy/conf
  envoy-log-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/envoy/logs
  envoy-certs-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/envoy/certs
