# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    hostname: caddy
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - ${HTTP_HOST_PORT}:${HTTP_PORT}
      - ${HTTPS_HOST_PORT}:${HTTPS_PORT}
      - ${HTTPS_HOST_PORT}:${HTTPS_PORT}/udp
    volumes:
      - cert-volume:/etc/certs
      - caddy-etc-volume:/etc/caddy
      - caddy-site-volume:/srv
      - caddy-data-volume:/data
      - caddy-config-volume:/config
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - BASE_URL=${DEFAULT_URL}
      - KEYCLOAK_PORT=${KEYCLOAK_PORT}
      - INFLUXDB_PORT=${INFLUXDB_PORT}
      - NEO4J_HTTP_PORT=${NEO4J_HTTP_PORT}
      - CASSANDRA_CLIENT_PORT=${CASSANDRA_CLIENT_PORT}
      - COUCHDB_PORT=${COUCHDB_PORT}
      - SONARQUBE_PORT=${SONARQUBE_PORT}
      - BOOKSTACK_PORT=${BOOKSTACK_PORT}
      - WIKI_JS_PORT=${WIKI_JS_PORT}
      - OPENSEARCH_REST_API_PORT=${OPENSEARCH_REST_API_PORT}
      - OPENSEARCH_DASHBOARD_PORT=${OPENSEARCH_DASHBOARD_PORT}
      - SYNCTHING_GUI_PORT=${SYNCTHING_GUI_PORT}
      - AIRFLOW_WEBSERVER_PORT=${AIRFLOW_WEBSERVER_PORT}
      - KAFKA_UI_PORT=${KAFKA_UI_PORT}
      - RABBITMQ_WEB_PORT=${RABBITMQ_WEB_PORT}
      - JENKINS_PORT=${JENKINS_PORT}
      - HARBOR_PORT=${HARBOR_PORT}
      - INFISICAL_PORT=${INFISICAL_PORT}
      - VAULTWARDEN_PORT=${VAULTWARDEN_PORT}
      - PROMETHEUS_PORT=${PROMETHEUS_PORT}
      - GRAFANA_PORT=${GRAFANA_PORT}
      - ALERTMANAGER_PORT=${ALERTMANAGER_PORT}
      - PUSHGATEWAY_PORT=${PUSHGATEWAY_PORT}
      - CADVISOR_PORT=${CADVISOR_PORT}
      - STORYBOOK_PORT=${STORYBOOK_PORT}
    networks:
      - nt-webserver
      # - nt-workflow
      # - nt-wiki
      # - nt-sync
      # - nt-supabase
      # - nt-incident
      # - nt-storage
      # - nt-searchengine
      # - nt-qa
      # - nt-etc
      # - nt-devops
      # - nt-design-system
      # - nt-auth
      # - nt-databases
      # - nt-message-broker
      # - nt-observability
      # - nt-private
      # - nt-data-collector
    logging: *logging

volumes:
  cert-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/../../Configs/Certs
  caddy-etc-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/caddy/etc
  caddy-site-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/caddy/site
  caddy-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/caddy/data
  caddy-config-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/caddy/conf
