services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - ${HTTP_HOST_PORT}:${HTTP_PORT}
      - ${HTTPS_HOST_PORT}:${HTTPS_PORT}
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    networks:
      infra_net:
        ipv4_address: 172.19.0.13  
    depends_on:
      - minio
  