# infra/cicd/argocd-notifications-cm.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-notifications-cm
  namespace: argocd
data:
  service.slack: |
    token: $slack-token
    username: argocd-bot
    icon: ":rocket:"

  trigger.on-sync-succeeded: |
    - when: app.status.sync.status == 'Synced'
      send: [app-sync-succeeded-slack]

  template.app-sync-succeeded-slack: |
    message: |
      ✅ {{.app.metadata.name}} sync 성공
      Sync status: {{.app.status.sync.status}}
      Health: {{.app.status.health.status}}
      URL: {{.context.argocdUrl}}/applications/{{.app.metadata.name}}
