# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  zipkin:
    image: ghcr.io/openzipkin/zipkin-slim:${TAG:-latest}
    container_name: zipkin
    hostname: zipkin
    restart: unless-stopped
    # Environment settings are defined here https://github.com/openzipkin/zipkin/blob/master/zipkin-server/README.md#environment-variables
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - STORAGE_TYPE=mem
      # Uncomment to enable self-tracing
      # - SELF_TRACING_ENABLED=true
      # Uncomment to increase heap size
      # - JAVA_OPTS=-Xms128m -Xmx128m -XX:+ExitOnOutOfMemoryError
    expose:
      - 9411
    # Uncomment to enable debug logging
    command:
      - --logging.level.zipkin2=DEBUG
    networks:
      - nt-webserver
    logging: *logging
    # labels:
    #   - traefik.enable=true
    #   - traefik.docker.network=nt-local
    #   - traefik.http.services.zipkin.loadbalancer.server.port=9411
    #   - traefik.http.routers.zipkin.rule=Host(`zipkin.${DEFAULT_URL}`)
    #   - traefik.http.routers.zipkin.entrypoints=web
    #   # For https:
    #   - traefik.http.routers.zipkin-secure.rule=Host(`zipkin.${DEFAULT_URL}`)
    #   - traefik.http.routers.zipkin-secure.entrypoints=websecure
    #   - traefik.http.middlewares.web-redirect-websecure.redirectscheme.scheme=https
    #   - traefik.http.routers.zipkin.middlewares=web-redirect-websecure
  # ######################################################################################

volumes:
  zipkin-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_TRACE_DIR}/zipkin/conf
  zipkin-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_TRACE_DIR}/zipkin/data
  zipkin-logs-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_TRACE_DIR}/zipkin/logs
  # ######################################################################################
