# Use root/example as user/password credentials
version: '3.9'

x-default-logging: &logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'

services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    hostname: jaeger
    restart: unless-stopped
    expose:
      - 16686 # serve frontend
      - 14269
      - 6831 # accept jaeger.thrift over Thrift-compact protocol (used by most SDKs)
      - 6832 # accept jaeger.thrift over Thrift-binary protocol (used by Node.js SDK)
      - 5778 # serve configs (sampling, etc.)
      - 4317 # accept OpenTelemetry Protocol (OTLP) over gRPC
      - 4318 # accept OpenTelemetry Protocol (OTLP) over HTTP
      - 14250 # accept model.proto
      - 14268 # accept jaeger.thrift directly from clients
      - 9411 # Zipkin compatible endpoint (optional)
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - LOG_LEVEL=debug
      - METRICS_STORAGE_TYPE=prometheus
      - PROMETHEUS_SERVER_URL=http://prometheus:9090
      - PROMETHEUS_QUERY_SUPPORT_SPANMETRICS_CONNECTOR=${PROMETHEUS_QUERY_SUPPORT_SPANMETRICS_CONNECTOR:-true}
      - PROMETHEUS_QUERY_NAMESPACE=${PROMETHEUS_QUERY_NAMESPACE:-}
      - PROMETHEUS_QUERY_DURATION_UNIT=${PROMETHEUS_QUERY_DURATION_UNIT:-}
      - PROMETHEUS_QUERY_NORMALIZE_CALLS=true
      - PROMETHEUS_QUERY_NORMALIZE_DURATION=true
      - COLLECTOR_ZIPKIN_HOST_PORT=:9411
    command:
      - '--memory.max-traces=5000'
    networks:
      - nt-observability
      - nt-webserver
    # labels:
    #   - traefik.enable=true
    #   - traefik.docker.network=nt-default
    #   - traefik.http.services.jaeger.loadbalancer.server.port=16686
    #   - traefik.http.routers.jaeger.rule=Host(`jaeger.${DEFAULT_URL}`)
    #   - traefik.http.routers.jaeger.entrypoints=web
    #   # For https:
    #   - traefik.http.routers.jaeger-secure.rule=Host(`jaeger.${DEFAULT_URL}`)
    #   - traefik.http.routers.jaeger-secure.entrypoints=websecure
    #   - traefik.http.middlewares.web-redirect-websecure.redirectscheme.scheme=https
    #   - traefik.http.routers.jaeger.middlewares=web-redirect-websecure
    logging: *logging
  # ######################################################################################

volumes:
  jaeger-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_TRACE_DIR}/jaeger/conf
  jaeger-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_TRACE_DIR}/jaeger/data
  jaeger-logs-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_TRACE_DIR}/jaeger/logs
  # ######################################################################################
