networks:
  infra_net:
    name: infra_net
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/16
  project_net:
    name: project_net
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/16
  kind:
    external: true # 이미 존재하는 docker 네트워크(이름: kind)에 부착

secrets:
  postgres_password:
    file: ./secrets/postgres_password.txt
  redis_password:
    file: ./secrets/redis_password.txt
  minio_root_password:
    file: ./secrets/minio_root_password.txt
  minio_root_user:
    file: ./secrets/minio_root_user.txt

include:
  - Infra/docker-compose.yml
  - Projects/docker-compose.yml
