# Use root/example as user/password credentials
x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    image: python.fastapi:latest
    hostname: fastapi
    container_name: fastapi
    restart: unless-stopped
    working_dir: /app
    expose:
      - ${DEFAULT_PYTHON_FASTAPI_PORT}
    ports:
      - ${DEFAULT_PYTHON_FASTAPI_HOST_PORT}:${DEFAULT_PYTHON_FASTAPI_PORT}
    networks:
      - project_net
      - infra_net
    stdin_open: true #docker run -i
    tty: true #docker run -t
    volumes:
      - fastapi-volume:/app:rw
    logging: *logging

volumes:
  fastapi-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_SOURCECODE_DIR}/FastAPI
