services:
  minio:
    image: coollabsio/minio:latest
    container_name: minio
    env_file:
      - .env
    command: server /data --console-address ":${MINIO_CONSOLE_HOST_PORT}"
    ports:
      - "${MINIO_HOST_PORT}:${MINIO_PORT}" # S3 API
      - "${MINIO_CONSOLE_HOST_PORT}:${MINIO_CONSOLE_PORT}" # Console
    networks:
      - infra_net
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  minio_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_MINIO_DATA_DIR}/data
