services:
  os-node-1:
    image: opensearchproject/opensearch:3.3.2
    container_name: os-node-1
    environment:
      - cluster.name=hy-opensearch-cluster # 클러스터 이름
      - node.name=os-node-1 # 노드 이름
      - discovery.seed_hosts=os-node-1,os-node-2,os-node-3 # 클러스터 구성을 위한 노드 목록
      - cluster.initial_master_nodes=os-node-1,os-node-2,os-node-3 # 초기 마스터 노드 후보
      - bootstrap.memory_lock=true # 메모리 스와핑 방지 (성능)
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # 로컬 환경을 위한 JVM 힙 사이즈 (필수)
      - DISABLE_SECURITY_PLUGIN=false # [중요] 보안 플러그인 활성화
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${ELASTIC_PASSWORD}
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sS -k -u 'admin:admin'
          'https://localhost:9200/_cluster/health?local=true' | grep -q
          'green|yellow'",
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - os_data_1:/usr/share/elasticsearch/data
    networks:
      - infra_net
    ports:
      - "${ES_HOST_PORT}:${ES_PORT}"

  os-node-2:
    image: opensearchproject/opensearch:3.3.2
    container_name: os-node-2
    environment:
      - cluster.name=hy-opensearch-cluster
      - node.name=os-node-2
      - discovery.seed_hosts=os-node-1,os-node-2,os-node-3
      - cluster.initial_master_nodes=os-node-1,os-node-2,os-node-3
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - DISABLE_SECURITY_PLUGIN=false
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${ELASTIC_PASSWORD}
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sS -k -u 'admin:admin'
          'https://localhost:9200/_cluster/health?local=true' | grep -q
          'green|yellow'",
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - os_data_2:/usr/share/elasticsearch/data
    networks:
      - infra_net

  os-node-3:
    image: opensearchproject/opensearch:3.3.2
    container_name: os-node-3
    networks:
      - infra_net
    volumes:
      - os_data_3:/usr/share/elasticsearch/data
    environment:
      - cluster.name=hy-opensearch-cluster
      - node.name=os-node-3
      - discovery.seed_hosts=os-node-1,os-node-2,os-node-3
      - cluster.initial_master_nodes=os-node-1,os-node-2,os-node-3
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - DISABLE_SECURITY_PLUGIN=false
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${ELASTIC_PASSWORD}
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -sS -k -u 'admin:admin'
          'https://localhost:9200/_cluster/health?local=true' | grep -q
          'green|yellow'",
        ]
      interval: 30s
      timeout: 10s
      retries: 5

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:3.3.0
    container_name: opensearch-dashboards
    networks:
      - infra_net
    ports:
      - "${KIBANA_HOST_PORT}:${KIBANA_PORT}"
    environment:
      - 'OPENSEARCH_HOSTS=["https://os-node-1:9200", "https://os-node-2:9200",
        "https://os-node-3:9200"]'
      - OPENSEARCH_USERNAME=admin
      - OPENSEARCH_PASSWORD=${ELASTIC_PASSWORD}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          'curl -sS -k ''http://localhost:5601/api/status'' | grep -q
          ''"level":"available"''',
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    depends_on:
      os-node-1: { condition: service_started }
      os-node-2: { condition: service_started }
      os-node-3: { condition: service_started }

  es-exporter:
    image: prometheuscommunity/elasticsearch-exporter:v1.8.0
    container_name: es-exporter
    ports:
      - "${ES_EXPORTER_HOST_PORT}:${ES_EXPORTER_PORT}"
    networks:
      - infra_net
    command:
      - "--es.uri=http://elastic:${ELASTIC_PASSWORD}@es-1:9200"
    depends_on: [os-node-1]

volumes:
  # certs:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_ELASTICSEARCH_DIR}/elasticsearch/certs
  user-dict-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_CONFIG_DIR}/elasticsearch/user_dictionary
  os_data_1:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DATA_DIR}/node1
  os_data_2:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DATA_DIR}/node2
  os_data_3:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DATA_DIR}/node3
  es_snapshots:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DATA_DIR}/snapshots
