services:
  minio:    
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    command: server /data --console-address ":${MINIO_CONSOLE_HOST_PORT}"
    ports:
      - "${MINIO_HOST_PORT}:${MINIO_PORT}" # S3 API
      - "${MINIO_CONSOLE_HOST_PORT}:${MINIO_CONSOLE_PORT}" # Console
    networks:
      infra_net:
        ipv4_address: 172.19.0.50
    volumes:
      - minio-data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    environment:
      MINIO_ROOT_USER_FILE: /run/secrets/minio_root_user
      MINIO_ROOT_PASSWORD_FILE: /run/secrets/minio_root_password
    secrets:
      - minio_root_password
      - minio_root_user
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
