# infra/logging/loki-values.yaml
loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 2

  storage:
    type: s3
    s3:
      endpoint: minio:9000
      bucketnames: loki
      access_key_id: "LOKI_ACCESS_KEY" # Secret 사용 권장
      secret_access_key: "LOKI_SECRET_KEY" # Secret 사용 권장
      insecure: true

  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: boltdb-shipper
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h

gateway:
  enabled: true
  ingress:
    enabled: false # Istio로 노출

compactor:
  retention_enabled: true
  retention_delete_delay: 2h
  retention_delete_worker_count: 150
