# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  penpot-frontend:
    image: "penpotapp/frontend:latest"
    container_name: penpot-frontend
    hostname: penpot-frontend
    restart: unless-stopped
    expose:
      - ${PENPOT_PORT}
    volumes:
      - penpot-assets-volume:/opt/data/assets
    depends_on:
      - penpot-backend
      - penpot-exporter
    networks:
      - nt-design-system
      - nt-webserver
      - nt-databases
      - nt-message-broker
      - nt-observability
      - nt-webserver
    # labels:
    #   - 'traefik.enable=true'
    #   - traefik.docker.network=nt-design-system
    #   - traefik.http.services.penpot.loadbalancer.server.port=80
    #   - traefik.http.routers.penpot.rule=Host(`penpot.${DEFAULT_URL}`)
    #   - traefik.http.routers.penpot.entrypoints=web
    #   # For https:
    #   - traefik.http.routers.penpot-secure.rule=Host(`penpot.${DEFAULT_URL}`)
    #   - traefik.http.routers.penpot-secure.entrypoints=websecure
    #   - traefik.http.middlewares.web-redirect-websecure.redirectscheme.scheme=https
    #   - traefik.http.routers.penpot.middlewares=web-redirect-websecure

    ## HTTP: example of labels for the case if you are going to expose penpot to the
    ## internet using only HTTP (without HTTPS) with traefik

    # - "traefik.http.routers.penpot-http.entrypoints=web"
    # - "traefik.http.routers.penpot-http.rule=Host(`<DOMAIN_NAME>`)"
    # - "traefik.http.services.penpot-http.loadbalancer.server.port=80"

    ## HTTPS: example of labels for the case if you are going to expose penpot to the
    ## internet using with HTTPS using traefik

    # - "traefik.http.middlewares.http-redirect.redirectscheme.scheme=https"
    # - "traefik.http.middlewares.http-redirect.redirectscheme.permanent=true"
    # - "traefik.http.routers.penpot-http.entrypoints=web"
    # - "traefik.http.routers.penpot-http.rule=Host(`<DOMAIN_NAME>`)"
    # - "traefik.http.routers.penpot-http.middlewares=http-redirect"
    # - "traefik.http.routers.penpot-https.entrypoints=websecure"
    # - "traefik.http.routers.penpot-https.rule=Host(`<DOMAIN_NAME>`)"
    # - "traefik.http.services.penpot-https.loadbalancer.server.port=80"
    # - "traefik.http.routers.penpot-https.tls=true"
    # - "traefik.http.routers.penpot-https.tls.certresolver=letsencrypt"

    ## Configuration envronment variables for frontend the container. In this case this
    ## container only needs the `PENPOT_FLAGS`. This environment variable is shared with
    ## other services but not all flags are relevant to all services.
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      ## Relevant flags for frontend:
      ## - demo-users
      ## - login-with-github
      ## - login-with-gitlab
      ## - login-with-google
      ## - login-with-ldap
      ## - login-with-oidc
      ## - login-with-password
      ## - registration
      ## - webhooks
      ##
      ## You can read more about all available flags on:
      ## https://help.penpot.app/technical-guide/configuration/#advanced-configuration
      - PENPOT_FLAGS=enable-registration enable-login-with-password

  penpot-backend:
    image: "penpotapp/backend:latest"
    container_name: penpot-backend
    hostname: penpot-backend
    restart: unless-stopped
    volumes:
      - penpot-assets-volume:/opt/data/assets
    networks:
      - nt-design-system
      - nt-databases
      - nt-message-broker
      - nt-observability
      - nt-webserver
    ## Configuration envronment variables for backend the
    ## container.

    environment:
      - TZ=${DEFAULT_TIMEZONE}
      ## Relevant flags for backend:
      ## - demo-users
      ## - email-verification
      ## - log-emails
      ## - log-invitation-tokens
      ## - login-with-github
      ## - login-with-gitlab
      ## - login-with-google
      ## - login-with-ldap
      ## - login-with-oidc
      ## - login-with-password
      ## - registration
      ## - secure-session-cookies
      ## - smtp
      ## - smtp-debug
      ## - telemetry
      ## - webhooks
      ## - prepl-server
      ##
      ## You can read more about all available flags and other
      ## environment variables for the backend here:
      ## https://help.penpot.app/technical-guide/configuration/#advanced-configuration

      - PENPOT_FLAGS=enable-registration enable-login-with-password disable-email-verification enable-smtp enable-prepl-server

      ## Penpot SECRET KEY. It serves as a master key from which other keys for subsystems
      ## (eg http sessions, or invitations) are derived.
      ##
      ## If you leve it commented, all created sessions and invitations will
      ## become invalid on container restart.
      ##
      ## If you going to uncomment this, we recommend use here a trully randomly generated
      ## 512 bits base64 encoded string.  You can generate one with:
      ##
      ## python3 -c "import secrets; print(secrets.token_urlsafe(64))"

      # - PENPOT_SECRET_KEY=my-insecure-key

      ## The PREPL host. Mainly used for external programatic access to penpot backend
      ## (example: admin). By default it listen on `localhost` but if you are going to use
      ## the `admin`, you will need to uncomment this and set the host to `0.0.0.0`.

      # - PENPOT_PREPL_HOST=0.0.0.0

      ## Public URI. If you are going to expose this instance to the internet and use it
      ## under different domain than 'localhost', you will need to adjust it to the final
      ## domain.
      ##
      ## Consider using traefik and set the 'disable-secure-session-cookies' if you are
      ## not going to serve penpot under HTTPS.

      - PENPOT_PUBLIC_URI=http://localhost:9001

      ## Database connection parameters. Don't touch them unless you are using custom
      ## postgresql connection parameters.

      - PENPOT_DATABASE_URI=postgresql://${POSTGRES_HOSTNAME}/penpot
      - PENPOT_DATABASE_USERNAME=${POSTGRES_USER}
      - PENPOT_DATABASE_PASSWORD=${POSTGRES_PASSWORD}

      ## Redis is used for the websockets notifications. Don't touch unless the redis
      ## container has different parameters or different name.

      - PENPOT_REDIS_URI=redis://:${REDIS_PASSWORD}@redis/0

      ## Default configuration for assets storage: using filesystem based with all files
      ## stored in a docker volume.

      - PENPOT_ASSETS_STORAGE_BACKEND=assets-fs
      - PENPOT_STORAGE_ASSETS_FS_DIRECTORY=/opt/data/assets

      ## Also can be configured to to use a S3 compatible storage
      ## service like MiniIO. Look below for minio service setup.

      # - AWS_ACCESS_KEY_ID=<KEY_ID>
      # - AWS_SECRET_ACCESS_KEY=<ACCESS_KEY>
      # - PENPOT_ASSETS_STORAGE_BACKEND=assets-s3
      # - PENPOT_STORAGE_ASSETS_S3_ENDPOINT=http://penpot-minio:9000
      # - PENPOT_STORAGE_ASSETS_S3_BUCKET=<BUKET_NAME>

      ## Telemetry. When enabled, a periodical process will send anonymous data about this
      ## instance. Telemetry data will enable us to learn on how the application is used,
      ## based on real scenarios. If you want to help us, please leave it enabled. You can
      ## audit what data we send with the code available on github

      - PENPOT_TELEMETRY_ENABLED=true

      ## Example SMTP/Email configuration. By default, emails are sent to the mailcatch
      ## service, but for production usage is recommended to setup a real SMTP
      ## provider. Emails are used to confirm user registrations & invitations. Look below
      ## how mailcatch service is configured.

      - PENPOT_SMTP_DEFAULT_FROM=${MAIL_FROM}
      - PENPOT_SMTP_DEFAULT_REPLY_TO=${MAIL_FROM}
      - PENPOT_SMTP_HOST=penpot-mailcatch
      - PENPOT_SMTP_PORT=1025
      - PENPOT_SMTP_USERNAME=${MAIL_USERNAME}
      - PENPOT_SMTP_PASSWORD=${MAIL_PASSWORD}
      - PENPOT_SMTP_TLS=false
      - PENPOT_SMTP_SSL=false

  penpot-exporter:
    image: "penpotapp/exporter:latest"
    container_name: penpot-exporter
    hostname: penpot-exporter
    restart: unless-stopped
    networks:
      - nt-design-system
      - nt-databases
      - nt-message-broker
      - nt-observability
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      # Don't touch it; this uses internal docker network to
      # communicate with the frontend.
      - PENPOT_PUBLIC_URI=http://penpot-frontend

      ## Redis is used for the websockets notifications.
      - PENPOT_REDIS_URI=redis://:${REDIS_PASSWORD}@redis/0

  ## A mailcatch service, used as temporal SMTP server. You can access via HTTP to the
  ## port 1080 for read all emails the penpot platform has sent. Should be only used as a
  ## temporal solution meanwhile you don't have a real SMTP provider configured.

  penpot-mailcatch:
    image: sj26/mailcatcher:latest
    container_name: penpot-mailcatch
    hostname: penpot-mailcatch
    restart: unless-stopped
    expose:
      - ${PENPOT_MAILCATCH_PORT}
    ports:
      - ${PENPOT_MAILCATCH_HTTP_HOST_PORT}:${PENPOT_MAILCATCH_HTTP_PORT}
    networks:
      - nt-design-system
      - nt-databases
      - nt-message-broker
      - nt-observability
      - nt-webserver
    environment:
      - TZ=${DEFAULT_TIMEZONE}
  ## Example configuration of MiniIO (S3 compatible object storage service); If you don't
  ## have preference, then just use filesystem, this is here just for the completeness.

  # minio:
  #   image: "minio/minio:latest"
  #   command: minio server /mnt/data --console-address ":9001"
  #   restart: unless-stopped
  #
  #   volumes:
  #     - "penpot_minio:/mnt/data"
  #
  #   environment:
  #     - MINIO_ROOT_USER=minioadmin
  #     - MINIO_ROOT_PASSWORD=minioadmin
  #
  #   ports:
  #     - 9000:9000
  #     - 9001:9001

volumes:
  penpot-assets-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DESIGN_SYSTEM_DIR}/penpot/assets
