# Use root/example as user/password credentials
x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    hostname: cadvisor
    restart: unless-stopped
    privileged: true
    env_file:
      - .env
    expose:
      - ${CADVISOR_PORT}
    ports:
      - ${CADVISOR_HOST_PORT}:${CADVISOR_PORT}
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - infra_net
    logging: *logging
