services:
  mongodb-rep1:
    image: mongo:latest
    restart: unless-stopped
    container_name: mongodb-rep1
    hostname: mongodb-rep1
    expose:
      - ${MONGODB_PORT}
    ports:
      - ${MONGODB_HOST_REPLICASET_1_PORT}:${MONGODB_PORT}
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${NOSQL_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${NOSQL_ROOT_PASSWORD}
    # 볼륨 설정
    volumes:
      - replicaset-1-mongo-conf-volume:/data/configdb
      - replicaset-1-mongo-data-volume:/data/db:rw
    command:
      - "--replSet"
      - "MyReplicaSet"
      - "--keyFile"
      - "/data/configdb/mongodb.key"
      - "--bind_ip_all"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - nt-databases    
  mongodb-rep2:
    image: mongo:latest
    restart: unless-stopped
    container_name: mongodb-rep2
    hostname: mongodb-rep2
    expose:
      - ${MONGODB_PORT}
    ports:
      - ${MONGODB_HOST_REPLICASET_2_PORT}:${MONGODB_PORT}
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${NOSQL_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${NOSQL_ROOT_PASSWORD}
    # 볼륨 설정
    volumes:
      - replicaset-2-mongo-conf-volume:/data/configdb
      - replicaset-2-mongo-data-volume:/data/db:rw
    command:
      - "--replSet"
      - "MyReplicaSet"
      - "--keyFile"
      - "/data/configdb/mongodb.key"
      - "--bind_ip_all"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - nt-databases    
  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    hostname: mongo-express
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_ENABLE_ADMIN: true
      ME_CONFIG_MONGODB_AUTH_DATABASE: admin
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${NOSQL_ROOT_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${NOSQL_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_URL: mongodb://${NOSQL_ROOT_USER}:${NOSQL_ROOT_PASSWORD}@mongodb-rep1:${MONGODB_PORT}?replicaSet=MyReplicaSet,${NOSQL_ROOT_USER}:${NOSQL_ROOT_PASSWORD}@mongodb-rep2:${MONGODB_PORT}?replicaSet=MyReplicaSet
      ME_CONFIG_MONGODB_SERVER: mongodb-rep1,mongodb-rep2
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_EXPRESS_CONFIG_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_EXPRESS_CONFIG_BASICAUTH_PASSWORD}
    expose:
      - ${MONGO_EXPRESS_PORT}
    labels:
      - traefik.enable=true
      - traefik.docker.network=nt-local
      - traefik.http.services.mongo-express.loadbalancer.server.port=${MONGO_EXPRESS_PORT}
      - traefik.http.routers.mongo-express.rule=Host(`mongo-express.${DEFAULT_URL}`)
      - traefik.http.routers.mongo-express.entrypoints=web
      # For https:
      - traefik.http.routers.mongo-express-secure.rule=Host(`mongo-express.${DEFAULT_URL}`)
      - traefik.http.routers.mongo-express-secure.entrypoints=websecure
      - traefik.http.middlewares.web-redirect-websecure.redirectscheme.scheme=https
      - traefik.http.routers.mongo-express.middlewares=web-redirect-websecure
    networks:
      - nt-databases
    depends_on:
      - mongodb-rep1
      - mongodb-rep2    

  mongodb-exporter:
    image: percona/mongodb_exporter:0.40.0
    container_name: mongodb-exporter
    expose:
      - ${MONGO_EXPORTER_PORT}
    command:
      - "--mongodb.uri=mongodb://${NOSQL_ROOT_USER}:${NOSQL_ROOT_PASSWORD}@mongodb-rep1:${MONGODB_PORT}?replicaSet=MyReplicaSet,${NOSQL_ROOT_USER}:${NOSQL_ROOT_PASSWORD}@mongodb-rep2:${MONGODB_PORT}?replicaSet=MyReplicaSet"
    # command: /bin/mysqld_exporter collect.binlog_size=true collect.info_schema.processlist=true
    depends_on:
      - mongodb-rep1
      - mongodb-rep2
    networks:
      - nt-databases    

volumes:
  replicaset-1-mongo-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATABASE_DIR}/mongo/replicaset-1/configdb
  replicaset-1-mongo-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATABASE_DIR}/mongo/replicaset-1/db
  replicaset-2-mongo-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATABASE_DIR}/mongo/replicaset-2/configdb
  replicaset-2-mongo-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATABASE_DIR}/mongo/replicaset-2/db
