# Use root/example as user/password credentials
x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  stats:
    image: docker.io/bitnami/rabbitmq:latest
    container_name: rabbitmq-stats
    hostname: rabbitmq-stats
    restart: unless-stopped
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - RABBITMQ_NODE_TYPE=stats
      - RABBITMQ_NODE_NAME=rabbit@stats
      - RABBITMQ_ERL_COOKIE=${RABBITMQ_ERLANG_COOKIE}
      - RABBITMQ_SECURE_PASSWORD=yes
      - RABBITMQ_LOGS=-
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_MANAGEMENT_ALLOW_WEB_ACCESS=true
    # ports:
    #   - "${RABBITMQ_WEB_PORT}:${RABBITMQ_WEB_PORT}"
    volumes:
      - "rabbitmq-stats-volume:/bitnami/rabbitmq/mnesia"
    networks:
      - nt-message-broker
      - nt-webserver
    logging: *logging
  queue-disc1:
    image: docker.io/bitnami/rabbitmq:latest
    container_name: rabbitmq-queue-disc1
    hostname: rabbitmq-queue-disc1
    restart: unless-stopped
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - RABBITMQ_NODE_TYPE=queue-disc
      - RABBITMQ_NODE_NAME=rabbit@queue-disc1
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@stats
      - RABBITMQ_ERL_COOKIE=${RABBITMQ_ERLANG_COOKIE}
      - RABBITMQ_SECURE_PASSWORD=yes
      - RABBITMQ_LOGS=-
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
    volumes:
      - "rabbitmq-disk1-volume:/bitnami/rabbitmq/mnesia"
    networks:
      - nt-message-broker
    logging: *logging
  queue-ram1:
    image: docker.io/bitnami/rabbitmq:latest
    container_name: rabbitmq-queue-ram1
    hostname: rabbitmq-queue-ram1
    restart: unless-stopped
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - RABBITMQ_NODE_TYPE=queue-ram
      - RABBITMQ_NODE_NAME=rabbit@queue-ram1
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@stats
      - RABBITMQ_ERL_COOKIE=${RABBITMQ_ERLANG_COOKIE}
      - RABBITMQ_SECURE_PASSWORD=yes
      - RABBITMQ_LOGS=-
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
    volumes:
      - "rabbitmq-ram1-volume:/bitnami/rabbitmq/mnesia"
    networks:
      - nt-message-broker
    logging: *logging
  # ######################################################################################
  # rabbitmq:
  #   image: 'rabbitmq:3-management-alpine'
  #   container_name: rabbitmq
  #   ports:
  #     # The standard AMQP protocol port
  #     - '5672:5672'
  #     # HTTP management UI
  #     # - '15672:15672'
  #   expose:
  #     - 5672
  #     - 15672
  #   environment:
  #     # The location of the RabbitMQ server.  "amqp" is the protocol;
  #     # "rabbitmq" is the hostname.  Note that there is not a guarantee
  #     # that the server will start first!  Telling the pika client library
  #     # to try multiple times gets around this ordering issue.
  #     AMQP_URL: 'amqp://rabbitmq?connection_attempts=5&retry_delay=5'
  #     RABBITMQ_DEFAULT_USER: 'rabbitmq'
  #     RABBITMQ_DEFAULT_PASS: 'rabbitmq'
  #     RABBITMQ_DEFAULT_VHOST: vHost
  #   labels:
  #     - traefik.enable=true
  #     - traefik.docker.network=nt-local
  #     - traefik.http.services.rabbitmq.loadbalancer.server.port=15672
  #     - traefik.http.routers.rabbitmq.rule=Host(`rabbitmq.${DEFAULT_URL}`)
  #     - traefik.http.routers.rabbitmq.entrypoints=web
  #     # For https:
  #     - traefik.http.routers.rabbitmq-secure.rule=Host(`rabbitmq.${DEFAULT_URL}`)
  #     - traefik.http.routers.rabbitmq-secure.entrypoints=websecure
  #     - traefik.http.middlewares.web-redirect-websecure.redirectscheme.scheme=https
  #     - traefik.http.routers.rabbitmq.middlewares=web-redirect-websecure
  #   networks:
  #     - nt-local
  #   logging: *logging

volumes:
  rabbitmq-stats-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_MESSAGE_BROKER_DIR}/rabbitmq/stats
  rabbitmq-disk1-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_MESSAGE_BROKER_DIR}/rabbitmq/disk1
  rabbitmq-ram1-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_MESSAGE_BROKER_DIR}/rabbitmq/ram1
  # ######################################################################################
  # rabbitmq-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_MESSAGE_BROKER_DIR}/rabbitmq
