# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  # db-migration:
  #   container_name: infisical-db-migration
  #   restart: unless-stopped
  #   image: infisical/infisical:latest-postgres
  #   env_file: .env.infisical
  #   command: npm run migration:latest
  #   # pull_policy: unless-stopped
  #   pull_policy: 'if_not_present'
  #   logging: *logging
  #   networks:
  #     - nt-local
  # 초기 설정할때, DB 신규 생성하면 MIGRATION 필요
  # docker run --net nt-databases --env DB_CONNECTION_URI=postgresql://hyden:1Osi6L5r4pZiWYl@postgres-node-0:5432/infisical infisical/infisical:latest-postgres npm run migration:latest
  infisical:
    image: infisical/infisical:latest-postgres
    container_name: infisical
    hostname: infisical
    restart: unless-stopped
    # depends_on:
    #   db-migration:
    #     condition: service_completed_successfully
    # pull_policy: unless-stopped
    pull_policy: "if_not_present"
    # env_file: .env.infisical
    expose:
      - ${INFISICAL_PORT}
    # ports:
    #   - ${INFISICAL_HOST_PORT}:${INFISICAL_PORT}
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - NODE_ENV=production
      - HTTPS_ENABLED=true
      - ENCRYPTION_KEY=${INFISICAL_ENCRYPTION_KEY}
      - AUTH_SECRET=${INFISICAL_AUTH_SECRET}
      - POSTGRES_USER=${DEFAULT_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${INFISICAL_POSTGRES_DBNAME}
      - DB_CONNECTION_URI=postgresql://${DEFAULT_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOSTNAME}:${POSTGRES_PORT}/${INFISICAL_POSTGRES_DBNAME}
      # - REDIS_URL=redis://:${PREDIXY_PASSWORD}@${PREDIXY_HOSTNAME}:${PREDIXY_PORT}
      - REDIS_URL=redis://:${REDIS_PASSWORD}@${REDIS_STANDALONE_HOSTNAME}:${REDIS_PORT}
      - SITE_URL=http://localhost:${INFISICAL_HOST_PORT}
      - SMTP_HOST=${MAIL_HOST}
      - SMTP_PORT=${MAIL_PORT}
      - SMTP_NAME=${MAIL_SERVER_NAME}
      - SMTP_USERNAME=${MAIL_USERNAME}
      - SMTP_PASSWORD=${MAIL_PASSWORD}
    # labels:
    #   - traefik.enable=true
    #   - traefik.docker.network=nt-local
    #   - traefik.http.services.infisical.loadbalancer.server.port=8080
    #   - traefik.http.routers.infisical.rule=Host(`infisical.${DEFAULT_URL}`)
    #   - traefik.http.routers.infisical.entrypoints=web
    #   # For https:
    #   - traefik.http.routers.infisical-secure.rule=Host(`infisical.${DEFAULT_URL}`)
    #   - traefik.http.routers.infisical-secure.entrypoints=websecure
    #   - traefik.http.middlewares.web-redirect-websecure.redirectscheme.scheme=https
    #   - traefik.http.routers.infisical.middlewares=web-redirect-websecure
    networks:
      - nt-etc
      - nt-webserver
      - nt-databases
    logging: *logging
  # ######################################################################################
