# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  opensearch-node1: # This is also the hostname of the container within the Docker network (i.e. https://opensearch-node1/)
    build:
      context: ../../_Builds/opensearch
      dockerfile: Dockerfile
    image: opensearch.add-plugins:latest
    container_name: opensearch-node1
    hostname: opensearch-node1
    restart: unless-stopped
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_ADMIN_PASSWORD}
      - bootstrap.memory_lock=true # Disable JVM heap memory swapping
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # Set min and max JVM heap sizes to at least 50% of system RAM
      # - "DISABLE_INSTALL_DEMO_CONFIG=true" # Prevents execution of bundled demo script which installs demo certificates and security configurations to OpenSearch
      - "DISABLE_SECURITY_PLUGIN=true" # Disables security plugin
      - cluster.name=opensearch-cluster # Name the cluster
      - node.name=opensearch-node1 # Name the node that will run in this container
      - discovery.seed_hosts=opensearch-node1,opensearch-node2 # Nodes to look for when discovering the cluster
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2 # Nodes eligibile to serve as cluster manager
      - bootstrap.memory_lock=true # Disable JVM heap memory swapping
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # Set min and max JVM heap sizes to at least 50% of system RAM
      # - 'DISABLE_INSTALL_DEMO_CONFIG=true' # Prevents execution of bundled demo script which installs demo certificates and security configurations to OpenSearch
      # - 'DISABLE_SECURITY_PLUGIN=true' # Disables security plugin
    ulimits:
      memlock:
        soft: -1 # Set memlock to unlimited (no soft or hard limit)
        hard: -1
      nofile:
        soft: 65536 # Maximum number of open files for the opensearch user - set to at least 65536
        hard: 65536
    volumes:
      - node1-data-volume:/usr/share/opensearch/data # Creates volume called opensearch-data1 and mounts it to the container
      - node1-logs-volume:/usr/share/opensearch/logs
      - node1-conf-volume:/usr/share/opensearch/config
      - user-dict-volume:/usr/share/opensearch/config/user_dictionary
    ports:
      - ${OPENSEARCH_REST_API_HOST_PORT}:${OPENSEARCH_REST_API_PORT} # REST API
      - ${OPENSEARCH_PERFORMANCE_ANALYZER_HOST_PORT}:${OPENSEARCH_PERFORMANCE_ANALYZER_PORT} # Performance Analyzer
    expose:
      - ${OPENSEARCH_REST_API_PORT}
    networks:
      - nt-searchengine # All of the containers will join the same Docker bridge network
      - nt-webserver
      - nt-observability
    logging: *logging
  opensearch-node2: # This is also the hostname of the container within the Docker network (i.e. https://opensearch-node1/)
    build:
      context: ../../_Builds/opensearch
      dockerfile: Dockerfile
    image: opensearch.add-plugins:latest
    container_name: opensearch-node2
    hostname: opensearch-node2
    restart: unless-stopped
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - discovery.type=single-node
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_ADMIN_PASSWORD}
      - bootstrap.memory_lock=true # Disable JVM heap memory swapping
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # Set min and max JVM heap sizes to at least 50% of system RAM
      # - "DISABLE_INSTALL_DEMO_CONFIG=true" # Prevents execution of bundled demo script which installs demo certificates and security configurations to OpenSearch
      - "DISABLE_SECURITY_PLUGIN=true" # Disables security plugin
      - cluster.name=opensearch-cluster # Name the cluster
      - node.name=opensearch-node2 # Name the node that will run in this container
      - discovery.seed_hosts=opensearch-node1,opensearch-node2 # Nodes to look for when discovering the cluster
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2 # Nodes eligibile to serve as cluster manager
      - bootstrap.memory_lock=true # Disable JVM heap memory swapping
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # Set min and max JVM heap sizes to at least 50% of system RAM
      # - 'DISABLE_INSTALL_DEMO_CONFIG=true' # Prevents execution of bundled demo script which installs demo certificates and security configurations to OpenSearch
      # - 'DISABLE_SECURITY_PLUGIN=true' # Disables security plugin
    ulimits:
      memlock:
        soft: -1 # Set memlock to unlimited (no soft or hard limit)
        hard: -1
      nofile:
        soft: 65536 # Maximum number of open files for the opensearch user - set to at least 65536
        hard: 65536
    volumes:
      - node2-data-volume:/usr/share/opensearch/data # Creates volume called opensearch-data1 and mounts it to the container
      - node2-logs-volume:/usr/share/opensearch/logs
      - node2-conf-volume:/usr/share/opensearch/config
      - user-dict-volume:/usr/share/opensearch/config/user_dictionary
    expose:
      - ${OPENSEARCH_REST_API_PORT}
    networks:
      - nt-searchengine # All of the containers will join the same Docker bridge network
      - nt-webserver
      - nt-observability
    logging: *logging

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    hostname: opensearch-dashboards
    restart: unless-stopped
    # ports:
    #   - ${OPENSEARCH_DASHBOARD_HOST_PORT}:${OPENSEARCH_DASHBOARD_PORT} # Map host port 5601 to container port 5601
    expose:
      - ${OPENSEARCH_DASHBOARD_PORT} # Expose port 5601 for web access to OpenSearch Dashboards
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - 'OPENSEARCH_HOSTS=["http://${OPENSEARCH_NODE1_HOSTNAME}:${OPENSEARCH_REST_API_PORT}","http://${OPENSEARCH_NODE2_HOSTNAME}:${OPENSEARCH_REST_API_PORT}"]'
      - "DISABLE_SECURITY_DASHBOARDS_PLUGIN=true" # disables security dashboards plugin in OpenSearch Dashboards
    volumes:
      - opensearch-dashboard-data-volume:/usr/share/opensearch-dashboards/data
      - opensearch-dashboard-config-volume:/usr/share/opensearch-dashboards/config
    networks:
      - nt-searchengine
      - nt-webserver
    depends_on:
      - opensearch-node1
    logging: *logging

volumes:
  opensearch-node1-cert-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/../../Configs/Certs
  opensearch-node2-cert-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WEB_SERVER_DIR}/../../Configs/Certs
  opensearch-dashboard-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DIR}/opensearch-dashboard/data
  opensearch-dashboard-config-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DIR}/opensearch-dashboard/conf
  user-dict-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/user_dictionary
  node1-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/node1/data
  node1-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/node1/conf
  node1-logs-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/node1/logs
  node2-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/node2/data
  node2-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/node2/conf
  node2-logs-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/node2/logs
  # ######################################################################################
  # opensearch-dashboard-data-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_OPENSEARCH_DIR}/opensearch-dashboard/data
  # opensearch-dashboard-config-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_OPENSEARCH_DIR}/opensearch-dashboard/conf
  # user-dict-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/user_dictionary
  # node1-data-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/node1/data
  # node1-conf-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/node1/conf
  # node1-logs-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_OPENSEARCH_DIR}/opensearch/node1/logs
