# Use root/example as user/password credentials
version: '3.9'

x-default-logging: &logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'


services:
  fluentbit:
    image: fluent/fluent-bit
    volumes:
      - fluentbit-conf-volume:/fluent-bit/etc
    networks:
      - nt-webserver
    logging: *logging
    environment:
      - TZ=${DEFAULT_TIMEZONE}
  # ######################################################################################

volumes:
  fluentbit-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATA_COLLECTOR_DIR}/fluentbit/conf
  # fluentbit-logs-volume:
  #   driver: local
  #   driver_opts:
  #     o: bind
  #     type: none
  #     device: ${DEFAULT_DATA_COLLECTOR_DIR}/fluentbit/logs
  # ######################################################################################
