# Use root/example as user/password credentials
version: '3.9'

x-default-logging: &logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'


services:
  opensearch-data-prepper:
    image: opensearchproject/data-prepper:latest
    container_name: opensearch-data-prepper
    restart: unless-stopped
    ports:
      - 4900:4900
    expose:
      - '4900' # Expose port 4900 for web access to OpenSearch Dashboards
    volumes:
      - data-prepper-pipelines-volume:/usr/share/data-prepper/pipelines:rw
      - data-prepper-conf-volume:/usr/share/data-prepper/config:rw
      - data-prepper-logs-volume:/var/log/data-prepper:rw
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      # - 'OPENSEARCH_HOSTS=["https://opensearch-node1:9200","https://opensearch-node2:9200","https://opensearch-node3:9200"]'
      # - 'OPENSEARCH_HOSTS=["http://opensearch-node1:9200","http://opensearch-node2:9200","http://opensearch-node3:9200"]'
      - 'OPENSEARCH_HOSTS=["https://opensearch-node1:9200"]'
      - 'OPENSEARCH_HOSTS=["http://opensearch-node1:9200"]'
    networks:
      - nt-webserver
    logging: *logging
  # ######################################################################################

volumes:
  data-prepper-pipelines-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_LOG_PROCESSOR_DIR}/data-prepper/pipelines
  data-prepper-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATA_COLLECTOR_DIR}/data-prepper/conf
  data-prepper-logs-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_DATA_COLLECTOR_DIR}/data-prepper/logs
  # ######################################################################################
