# Use root/example as user/password credentials
version: '3.9'

x-default-logging: &logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'

services:
  mock-server:
    image: mockserver/mockserver:mockserver-snapshot
    container_name: mock-server
    hostname: mock-server
    expose:
      - 1080
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - MOCKSERVER_PROPERTY_FILE=/config/mockserver.properties
      - MOCKSERVER_INITIALIZATION_JSON_PATH=/config/initializerJson.json
    volumes:
      - mock-server-conf-volume:/confing:rw
    # labels:
    #   - traefik.enable=true
    #   - traefik.docker.network=nt-local
    #   - traefik.http.services.mock-server.loadbalancer.server.port=1080
    #   - traefik.http.routers.mock-server.rule=Host(`mock-server.${DEFAULT_URL}`)
    #   - traefik.http.routers.mock-server.entrypoints=web
    #   # For https:
    #   - traefik.http.routers.mock-server-secure.rule=Host(`mock-server.${DEFAULT_URL}`)
    #   - traefik.http.routers.mock-server-secure.entrypoints=websecure
    #   - traefik.http.middlewares.web-redirect-websecure.redirectscheme.scheme=https
    #   - traefik.http.routers.mock-server.middlewares=web-redirect-websecure
    networks:
      - nt-webserver
      - nt-dev
    logging: *logging

volumes:
  mock-server-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_API_MOCKING_DIR}/mock-server/conf
