# Use root/example as user/password credentials
version: "3.9"

x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  wiremock:
    image: "wiremock/wiremock:latest"
    container_name: wiremock
    hostname: wiremock
    expose:
      - 8080
    volumes:
      - wiremock-extensions-volume:/var/wiremock/extensions
      - wiremock-__files-volume:/home/wiremock/__files
      - wiremock-mappings-volume:/home/wiremock/mappings
    entrypoint:
      [
        "/docker-entrypoint.sh",
        "--global-response-templating",
        "--disable-gzip",
        "--verbose",
        "--proxy-all=https://wiremock.${DEFAULT_URL}",
        "--record-mappings",
      ]
    networks:
      - nt-webserver
      - nt-dev
    environment:
      - TZ=${DEFAULT_TIMEZONE}
    # labels:
    #   - traefik.enable=true
    #   - traefik.docker.network=nt-local
    #   - traefik.http.services.wiremock.loadbalancer.server.port=8080
    #   - traefik.http.routers.wiremock.rule=Host(`wiremock.${DEFAULT_URL}`)
    #   - traefik.http.routers.wiremock.entrypoints=web
    #   # For https:
    #   - traefik.http.routers.wiremock-secure.rule=Host(`wiremock.${DEFAULT_URL}`)
    #   - traefik.http.routers.wiremock-secure.entrypoints=websecure
    #   - traefik.http.middlewares.web-redirect-websecure.redirectscheme.scheme=https
    #   - traefik.http.routers.wiremock.middlewares=web-redirect-websecure
    logging: *logging

volumes:
  wiremock-extensions-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_API_MOCKING_DIR}/wiremock/extensions
  wiremock-__files-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_API_MOCKING_DIR}/wiremock/__files
  wiremock-mappings-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_API_MOCKING_DIR}/wiremock/mappings
