x-default-logging: &logging
  driver: "json-file"
  options:
    max-size: "5m"
    max-file: "2"

services:
  bookstack:
    image: lscr.io/linuxserver/bookstack:latest
    container_name: bookstack
    hostname: bookstack
    restart: unless-stopped
    expose:
      - ${BOOKSTACK_PORT}
    # ports:
    #   - ${BOOKSTACK_HOST_PORT}:${BOOKSTACK_PORT}
    # labels:
    #   - traefik.enable=true
    #   - traefik.docker.network=nt-local
    #   - traefik.http.services.bookstack.loadbalancer.server.port=8080
    #   - traefik.http.routers.bookstack.rule=Host(`bookstack.${DEFAULT_URL}`)
    #   - traefik.http.routers.bookstack.entrypoints=web
    #   # For https:
    #   - traefik.http.routers.bookstack-secure.rule=Host(`bookstack.${DEFAULT_URL}`)
    #   - traefik.http.routers.bookstack-secure.entrypoints=websecure
    #   - traefik.http.middlewares.web-redirect-websecure.redirectscheme.scheme=https
    #   - traefik.http.routers.bookstack.middlewares=web-redirect-websecure
    environment:
      - TZ=${DEFAULT_TIMEZONE}
      - PUID=1000
      - PGID=1000
      - DB_HOST=${MYSQL_HOSTNAME}
      - DB_PORT=${MYSQL_PORT}
      - DB_USER=${DEFAULT_USERNAME}
      - DB_PASS=${MYSQL_PASSWORD}
      - DB_DATABASE=${BOOKSTACK_MYSQL_DBNAME}
      #set the APP_ to the URL of bookstack without without a trailing slash APP_URL=https://example.com
      - APP_URL=https://bookstack.${DEFAULT_URL}
      # - APP_URL=http://localhost:${BOOKSTACK_HOST_PORT}
      # APP_KEY is used for encryption where needed, so needs to be persisted to
      # preserve decryption abilities.
      # Can run `php artisan key:generate` to generate a key
      - APP_KEY=${BOOKSTACK_APP_KEY}
      - TEST_DATABASE_URL= mysql://${DEFAULT_USERNAME}:${MYSQL_PASSWORD}@${MYSQL_HOSTNAME}:${MYSQL_PORT}/bookstack
      - MAIL_DRIVER=${MAIL_DRIVER}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      # Using port 465 above will force connections to be via TLS.
      - MAIL_ENCRYPTION=${MAIL_ENCRYPTION}
      # Authentication details for your SMTP service
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      # The "from" email address for outgoing email
      - MAIL_FROM=${MAIL_FROM}
      # The "from" name used for outgoing email
      - MAIL_FROM_NAME=${BOOKSTACK_MAIL_FROM_NAME}
    volumes:
      - bookstack-conf-volume:/config
      - bookstack-uploads-volume:/var/www/bookstack/public/uploads
      - bookstack-storage-uploads-volume:/var/www/bookstack/storage/uploads
    networks:
      - nt-wiki
      - nt-webserver
      - nt-databases
    logging: *logging
  # ######################################################################################

volumes:
  bookstack-conf-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WIKI_DIR}/bookstack/conf
  bookstack-uploads-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WIKI_DIR}/bookstack/uploads
  bookstack-storage-uploads-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_WIKI_DIR}/bookstack/storage
  # ######################################################################################
