# infra/monitoring/kube-prometheus-stack-values.yaml
grafana:
  enabled: true
  adminPassword: "admin" # 실제론 Secret/ExternalSecret로 교체
  service:
    type: ClusterIP
  ingress:
    enabled: false # Istio로 노출

prometheus:
  prometheusSpec:
    replicas: 2
    retention: 15d
    scrapeInterval: 30s
    walCompression: true
    podMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false

    # Alloy에서 보내는 remote_write 수신 (필요하면 Mimir 등으로 외부 전송)
    remoteWrite:
      #- url:
        # 없는 경우 빈 배열로 두고 추후 추가

alertmanager:
  alertmanagerSpec:
    replicas: 2
